.site-header{
    margin-bottom: 0px;
}

.head-caption{
    float:left;
    padding-right: 10px;
    padding-top: 5px;
}

.example-head-container{
    float:left;
    padding-right: 10px;
    padding-top: 5px;
}

.head-api-button{
}
.head-api-button-line{
    float: left;
}

.api-method-title{
    float:left;
    padding-top: 7px;
    padding-right: 7px;
    margin: 0px;
    width: 535px;
}

.api-method-button{
    margin: 0px;
}

.app-resource-item {
    list-style-type: none;
}

