<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon">
    <link rel='stylesheet' href='./css/tacit.min.css'>
    <link rel='stylesheet' href='./css/styles.css'>
    <script src='./js/vue.2.4.2.js'></script>
    <script src='./js/index.js'></script>
</head>
<title>Сервер чекового принтера</title>
<body>
<section>
    <div class='head-container'>
        <div class='head-caption'>
            <h1>Сервер чекового принтера</h1>
        </div>
        <div class='head-api-button'>
            <form action='/api'>
                <input type='submit' value='API'/>
            </form>
        </div>
    </div>
    <div class='head-caption'>
      <h2>Подключенное устройство</h2>
    </div>
    <div class='head-api-button-line'>
        <form action='/api/devicesettings'>
            <input type='submit' value='Настройка'/>
        </form>
    </div>
    <div class='head-api-button'>
        <form action='/api/testprint'>
            <input type='submit' value='Тест'/>
        </form>
    </div>
    <ul id='connected-devices'>
        <li v-for="item in items">
            Порт:{{ item.name }}
            ,Скорость:{{ item.baudRate }}
            ,Бит: {{ item.dataBits }}
            ,Стоп-бит: {{ item.stopBits }}
            ,Четность: {{ item.parity }}
        </li>
    </ul>
    <h2>Доступные последовательные порты:</h2>
    <ul id='serial-ports'>
        <li v-for="item in items">
            {{ item }}
        </li>
    </ul>
    <h2>Чеки:</h2>
    <ul id='check-list'>
        <li v-for="item in items">
            POS:{{ item.check.header.posNumber }}
            ,№ {{ item.check.header.checkNumber }}
            ,Дата: {{ item.check.header.dateTime }}
            ,Заказ: {{ item.check.header.orderNumber }}
            ,Официант: {{ item.check.header.waiter }}
        </li>
    </ul>
</section>
</body>
</html>